<div id="homeContainer">

    <h2>Welcome to CSE Motors</h2>

    <div id="imageContainer">
        <img id="homeImage" src="images/vehicles/delorean.jpg" alt="Home page image">
        <div id="homeImageText">
            <h3>DCM Delorean</h3>
            <p>3 Cup Holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button id="homeImageButton">
                <img src="images/site/own_today.png" alt="Own Today" style="width: 100%; height: 100%;">
            </button>
        </div>
    </div>

    <div id="contentContainer">
        <div class="reviews">
            <h3>DMC Delorean Reviews</h3>
            <ul>
                <li>"So fast it's almost like traveling in time" (4/5)</li>
                <li>"Coolest ride on the road" (4/5)</li>
                <li>"I am feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day" (4.5/5)</li>
                <li>"80's livi and I love it!" (5/5)</li>
            </ul>
        </div>
        <div class="upgrades-section">
            <h3>Delorean Upgrades</h3>
            <div id="upgradesTable">
                <div id="img1Upgrades">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <a href="/">Flux Capacitor</a>
                </div>
                <div id="img2Upgrades">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                    <a href="/">Flame Decals</a>
                </div>
                <div id="img3Upgrades">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <a href="/">Bumper Stickers</a>
                </div>
                <div id="img4Upgrades">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <a href="/">Hub Caps</a>
                </div>
            </div>
        </div>
    </div>
</div>